<!DOCTYPE html>
<lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/intranet.css">
   
    <title>Huxyaca Hotel</title>
</head>



    
    <header>
        <nav> 
            <ul>
                <li>
                    <a href="index.html">Inicio</a>
                </li>
                <li>
                    <a href="habitaciones.html">Habitaciones</a>
                </li>
                <li>
                    <a href="bar">Bar</a>
                </li>
                <li>
                    <a href="Opiniones.html">Opiniones</a>
                </li>
            </ul>
        
        </nav>
        <div class="logo">
            Huxyaca
             <div class="sub">
                  HOTEL
             </div>
        </div>
        <form action="intra">
       
            <div class="login">
                <label for="usuario" class="labels">Usuario</label>
                <input id="usuario" type="Usuario">
                <label for="contraseña" class="labels">Contraseña</label>
                <input id="contraseña" type="contraseña">
                <br>
                <button class="boton">Iniciar Sesión</button>
               
            </div>
                
        </form>
        
       
    </header>

         
         
               

</body>
</html>