*{
    margin: 0;  
    padding: 0;
}

body{
    display: grid;
    

}

header{
    background-image:linear-gradient(rgba(245, 238, 220, 0.5),rgba(245, 238, 220, 0.5)),url(../assets/img/entrada.jpg);
    
    /* background: rgba(245, 238, 220, 0.5), url(../assets/img/entrada.jpg);  */
    background-size: cover;
    height: 1090px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "logo menu";
    align-items: center;
    justify-items: center;
    padding: 0;
    margin: 0;
}